In [ ]:
# importing pandas module for data frame
import pandas as pd
Urljson ="https://www.data.act.gov.au/resource/94a5-zqnn.json"
data = pd.read_json(Urljson)
print(data)

In [2]:
# importing pandas module for data frame
import pandas as pd

# loading dataset and storing in train variable
AirQualData=pd.read_csv('Air_Quality_Monitoring_Data.csv')

# display top 5 data
AirQualData.head()

,Name,GPS,DateTime,NO2,O3_1hr,O3_4hr,O3_8hr,CO,PM10 1 hr,PM2.5 1 hr,...,AQI_CO,AQI_NO2,AQI_O3_1hr,AQI_O3_4hr,AQI_O3_8hr,AQI_PM10,AQI_PM2.5,AQI_Site,Date,Time
0,Monash,"(-35.418302, 149.094018)",10/05/2022 03:00:00 PM,0.001,0.022,0.021,0.013,0.0,7.22,1.03,...,0.0,1.0,22.0,27.0,20.0,2.0,0.0,27.0,10 May 2022,15:00:00
1,Florey,"(-35.220606, 149.0435)",23/12/2021 04:00:00 PM,NaN,NaN,0.034,0.029,NaN,14.80,-1.00,...,NaN,NaN,NaN,43.0,44.0,NaN,NaN,44.0,23 December 2021,16:00
2,Civic,"(-35.285399, 149.131536)",03/11/2021 11:00:00 AM,NaN,0.006,NaN,0.010,NaN,NaN,NaN,...,NaN,NaN,6.0,NaN,15.0,22.0,21.0,22.0,03 November 2021,11:00
3,Monash,"(-35.418302, 149.094018)",15/06/2021 04:00:00 PM,NaN,NaN,NaN,NaN,NaN,0.00,7.10,...,NaN,NaN,NaN,NaN,NaN,34.0,54.0,NaN,15 June 2021,16:00
4,Civic,"(-35.285307, 149.131579)",02/06/2021 05:00:00 PM,NaN,NaN,NaN,NaN,NaN,7.30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02 June 2021,17:00

In [3]:
AirQualData.describe().T

,count,mean,std,min,25%,50%,75%,max
NO2,159346.0,0.004590,0.007036,0.00,0.000,0.000,0.010,0.290
O3_1hr,227777.0,0.017086,0.038288,-3.42,0.010,0.020,0.023,9.150
O3_4hr,227998.0,0.017276,0.011403,0.00,0.010,0.020,0.023,0.120
O3_8hr,22900.0,0.017512,0.007483,0.00,0.013,0.018,0.023,0.041
CO,158933.0,0.265014,0.420221,0.00,0.080,0.140,0.300,22.000
PM10 1 hr,35862.0,8.997804,8.255782,-16.10,3.800,7.200,12.000,171.000
PM2.5 1 hr,35446.0,5.530774,7.028091,-22.40,1.500,4.300,7.900,71.400
PM10,230639.0,12.834212,29.392076,-18.00,6.000,9.300,14.000,1215.800
PM2.5,197418.0,8.702566,28.780107,-1.70,3.200,5.100,8.100,1296.300
AQI_CO,162630.0,2.823526,4.602958,0.00,1.000,2.000,3.000,244.000
AQI_NO2,166661.0,3.840527,5.269128,0.00,0.000,2.000,6.000,241.000
AQI_O3_1hr,227329.0,16.549723,11.371554,-4.00,7.000,17.000,24.000,169.000
AQI_O3_4hr,227753.0,21.301880,13.571629,-3.00,11.000,22.000,30.000,147.000
AQI_O3_8hr,22845.0,26.973911,11.491953,0.00,20.000,27.000,35.000,62.000
AQI_PM10,230612.0,25.566536,58.790968,0.00,12.000,19.000,28.000,2432.000
AQI_PM2.5,201486.0,33.960166,114.064197,-7.00,13.000,21.000,33.000,5185.000
AQI_Site,238975.0,40.475523,104.780742,0.00,22.000,30.000,39.000,5185.000

**Information about each column and about null values for each column**

In [4]:
print(AirQualData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239938 entries, 0 to 239937
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Name        239938 non-null  object
 1   GPS         239938 non-null  object
 2   DateTime    239938 non-null  object
 3   NO2         159346 non-null  float64
 4   O3_1hr      227777 non-null  float64
 5   O3_4hr      227998 non-null  float64
 6   O3_8hr      22900 non-null   float64
 7   CO          158933 non-null  float64
 8   PM10 1 hr   35862 non-null   float64
 9   PM2.5 1 hr  35446 non-null   float64
 10  PM10        230639 non-null  float64
 11  PM2.5       197418 non-null  float64
 12  AQI_CO      162630 non-null  float64
 13  AQI_NO2     166661 non-null  float64
 14  AQI_O3_1hr  227329 non-null  float64
 15  AQI_O3_4hr  227753 non-null  float64
 16  AQI_O3_8hr  22845 non-null   float64
 17  AQI_PM10    230612 non-null  float64
 18  AQI_PM2.5   201486 non-null  float64
 19  AQI_Site    238975 non-null  float64
 20  Date        239938 non-null  object
 21  Time        239938 non-null  object
dtypes: float64(17), object(5)
memory usage: 40.3+ MB
None

# Removing the date and time columns

In [ ]:
AirData = AirQualData.drop(['Date', 'Time'], axis = 1)

# Split the geo variable into separate lat and lon variables

In [ ]:
# Create two lists for the loop results to be placed
lat = []
lon = []

#Removing brackets 
AirData['GPS']=  AirData['GPS'].apply(lambda x: x.replace('(','').replace(')',''))
# For each row in a varible,
for row in AirData['GPS']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
AirData['latitude'] = lat
AirData['longitude'] = lon

In [ ]:
#Droping GPS Column
AirData = AirData.drop(['GPS'], axis = 1)
AirData.head()

,Name,DateTime,NO2,O3_1hr,O3_4hr,O3_8hr,CO,PM10 1 hr,PM2.5 1 hr,PM10,...,AQI_CO,AQI_NO2,AQI_O3_1hr,AQI_O3_4hr,AQI_O3_8hr,AQI_PM10,AQI_PM2.5,AQI_Site,latitude,longitude
0,Monash,10/05/2022 03:00:00 PM,0.001,0.022,0.021,0.013,0.0,7.22,1.03,1.23,...,0.0,1.0,22.0,27.0,20.0,2.0,0.0,27.0,-35.418302,149.094018
1,Florey,23/12/2021 04:00:00 PM,NaN,NaN,0.034,0.029,NaN,14.80,-1.00,NaN,...,NaN,NaN,NaN,43.0,44.0,NaN,NaN,44.0,-35.220606,149.0435
2,Civic,03/11/2021 11:00:00 AM,NaN,0.006,NaN,0.010,NaN,NaN,NaN,11.10,...,NaN,NaN,6.0,NaN,15.0,22.0,21.0,22.0,-35.285399,149.131536
3,Monash,15/06/2021 04:00:00 PM,NaN,NaN,NaN,NaN,NaN,0.00,7.10,17.10,...,NaN,NaN,NaN,NaN,NaN,34.0,54.0,NaN,-35.418302,149.094018
4,Civic,02/06/2021 05:00:00 PM,NaN,NaN,NaN,NaN,NaN,7.30,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-35.285307,149.131579

In [ ]:
#Renaming Columns

AirData.rename(columns = {'Name':'City'}, inplace = True)


dict = {'Name': 'Location',
        'AQI_CO': 'Address',
        'AQI_NO2': 'Amount',
        'AQI_O3_4hr' : '',
        }
 
# call rename () method
df.rename(columns=dict,
          inplace=True)
 
display(df)

# Sum Total Nulls

In [ ]:
AirData.isnull().sum()

City               0
DateTime           0
NO2            80592
O3_1hr         12161
O3_4hr         11940
O3_8hr        217038
CO             81005
PM10 1 hr     204076
PM2.5 1 hr    204492
PM10            9299
PM2.5          42520
AQI_CO         77308
AQI_NO2        73277
AQI_O3_1hr     12609
AQI_O3_4hr     12185
AQI_O3_8hr    217093
AQI_PM10        9326
AQI_PM2.5      38452
AQI_Site         963
latitude           0
longitude          0
dtype: int64

# New Section